@import "_fonts.scss";
@import "_normalize.scss";
@import "_null.scss";

$bgcolor1: #FFF;
$bgcolor2: #FAC960;
$bgcolor3: #F2F2F2;

body {
  font-family: $fontFamily;

}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-2 {
  width: 60%;
  margin: 0 auto;
}

.lol {
  text-align: center;
  font-family: Roboto;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding: 50px 0;
}

.wow {
  text-align: center;
  font-family: Roboto;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 130.435% */
  padding-bottom: 40px;
}

.pol {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.tell__infor_com {
  width: 61px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #758696;
  background: #FFF;
  text-align: center;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  &__logo {

    &_img {
      width: 37px;
      height: 37px;
    }
  }

  &__icon {
    font-size: 25px;
    display: flex;
    position: relative;
    left: -10px;

    &_link {
      margin-right: 24%;

      i {
        margin-right: 19%;
        margin-left: -13%;
      }
    }
  }
}

.header {

  &__icon {

    &_link {}
  }
}

.title-gray {

  color: rgba(0, 0, 0, 0.56);
}

.subtitle {
  color: rgba(0, 0, 0, 0.40);
}

.get {
  background-color: $bgcolor2;

  &__title {
    color: #8A6D2F;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    /* 122.727% */
  }

  &__invite {
    display: flex;
    justify-content: center;
    padding-bottom: 117px;

    &_inpt {
      width: 560px;
      height: 54px;
      border-radius: 2px 0px 0px 2px;
      color: #999;
      text-align: center;
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 54px;
      /* 180% */

    }

    &_labl {
      width: 240px;
      height: 54px;
      border-radius: 0px 2px 2px 0px;
      background: #A8863D;
      margin-left: 10px;
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 54px;
      /* 180% */
    }
  }
}

.space {
  background-color: $bgcolor3;

  &__txt {

    &_tit {}

    &_par {}
  }

  &__img {}
}

.txt {}

.mobile-access {

  &__info {

    &_t {}

    &_parf {}
  }

  &__phone {}
}

.tell {
  background-color: $bgcolor2;
  padding-bottom: 107px;

  &__infor {

    &_ti {}

    &_pa {}
  }

}

.footer {
  background-color: $bgcolor3;
  padding: 80px 0;

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__icons {
    display: flex;
    justify-content: center;
    position: relative;
    left: -12px;

    &_link {
      align-items: center;
      padding-left: 25px;
    }
  }
}