@import "_fonts.scss";
@import "_normalize.scss";
@import "_null.scss";

$bgcolor1: #FFF;
$bgcolor2: #FAC960;
$bgcolor3: #F2F2F2;

body {
  font-family: $fontFamily;

}

.container {
  width: 938px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  &__logo {

    &_img {
      width: 37px;
      height: 37px;
    }
  }

  &__icon {
    font-size: 25px;

    &_link {}
  }
}

.logo {}

.link-icon {}

.header {

  &__icon {

    &_link {}
  }
}



.get {
  background-color: $bgcolor2;

  &__title {}

  &__invite {

    &_inpt {}

    &_labl {}
  }
}

.space {
  background-color: $bgcolor3;

  &__txt {

    &_tit {}

    &_par {}
  }

  &__img {}
}

.txt {}

.mobile-access {

  &__info {

    &_t {}

    &_parf {}
  }

  &__phone {}
}

.tell {
  background-color: $bgcolor2;

  &__infor {

    &_ti {}

    &_pa {}
  }

  &__aaa {}
}

.footer {
  background-color: $bgcolor3;

  &__logo {}

  &__icons {

    &_link {}
  }
}