@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Inter";
}

input,
button,
textarea {
  font-family: "Inter";
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background-color: gray;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
}

.wrapper {
  width: 360px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.menu__img-icon {
  margin: 20px 0;
}

.srch {
  margin: 17px 0 29px 0;
}

.srch__inpt {
  border-radius: 12px;
  background: #EFEFEF;
  width: 316px;
  height: 44px;
  color: #999;
  font-size: 12px;
  padding-left: 12px;
  font-weight: 400;
  line-height: normal;
}

.menuSection__item:first-child {
  margin: 0;
}

.menuSection__item {
  opacity: 0.5;
  display: inline-block;
  text-align: center;
  margin-left: 28px;
  margin-bottom: 37px;
}

.menuSection__item_img {
  display: inline-block;
  border-radius: 12px;
  background: #EFEFEF;
  text-align: center;
  padding: 15px;
  margin-bottom: 8px;
}

.menuSection__item_img:hover {
  background-color: #EAE2B7;
}

.menuSection__item_txt {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 500;
}

.menuSection__item:hover {
  opacity: 1;
}

.burger {
  margin-bottom: 60px;
}

.burger__nBburger {
  color: #003049;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 29px;
}

.burger__bList_nH {
  color: #003049;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 7px;
}

.burger__bList_price {
  color: #D62828;
  font-size: 14px;
  font-weight: 500;
}

.burger__bItem {
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 4px 0px #E5E5E5;
          box-shadow: 0px 0px 4px 0px #E5E5E5;
  margin-bottom: 15px;
}

.burger__bItem_bImg {
  display: inline-block;
  padding: 6px;
}

.burger__bItem_bImg img {
  width: 60px;
  height: 60px;
}

.burger__bItem_txt {
  display: inline-block;
  padding-top: 21px;
  position: absolute;
}

.burger__bItem:last-child {
  margin-bottom: 0;
}
