@media (min-width: 26.5625rem) {

  /*  --------------------------------------------------- start about -------------------------------------------------------   */
  .about {

    &__groupText {
      text-align: center;
      padding: 0rem 0rem 2.125rem .9375rem;
    }

  }

  /*  ----------------------------------------------------- end about -------------------------------------------------------   */
}

@media (min-width: 48rem) {

  /*  --------------------------------------------------- start footer -------------------------------------------------------   */
  .footer {
    padding: 1.5625rem 0rem 5rem 0rem;
    position: relative;

    &__column1 {
      display: flex;
      padding: 0rem 0rem 0 0rem;
      flex-direction: column;
      text-align: left;
    }

    &__column2 {
      font-size: 1rem;
      text-align: right;
      margin-bottom: 0;
    }

    &__button {
      position: absolute;
      background-color: #668E68;
      border-radius: 100%;
      left: 95%;
      top: 77%;
      padding: 0rem .25rem 0rem .25rem;
      color: #fff;
    }
  }

  .rowFd {
    flex-direction: row;
  }

  /*  ----------------------------------------------------- end footer -------------------------------------------------------   */
}

@media (min-width: 64rem) {

  /*  ----------------------------------------------------- start header -------------------------------------------------------   */
  .header {
    .navList {
      display: flex;
      float: right;
      color: #fff;
      font-weight: 500;
      font-family: Yu Gothic;
      font-size: 1.125rem;
      padding: .3125rem 0rem .3125rem 0rem;


      &__item {
        padding-left: 1.5rem;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .vector-icon {
      display: none;
    }
  }

  /*  ----------------------------------------------------- end header -------------------------------------------------------   */


  /*  --------------------------------------------------- start fullImage -------------------------------------------------------   */
  .fullImage {

    &__firstTitle {
      font-size: 4.6875rem;
    }
  }

  /*  ----------------------------------------------------- end fullImage -------------------------------------------------------   */

  /*  --------------------------------------------------- start menu -------------------------------------------------------   */
  .menu {

    &__title {
      padding: 2.5rem 0rem 1.25rem 0rem;
    }

    &__cards {
      flex-direction: row;
      justify-content: space-between;

      &_item {
        position: relative;
      }
    }
  }

  /*  ----------------------------------------------------- end menu -------------------------------------------------------   */


  /*  --------------------------------------------------- start about -------------------------------------------------------   */
  .about {
    background-image: url(../img/about-bg.png);
  }

  /*  ----------------------------------------------------- end about -------------------------------------------------------   */

  /*  --------------------------------------------------- start news -------------------------------------------------------   */
  .news {
    .row-row {
      display: flex;

      p {
        &:first-child {
          padding-right: 2.1875rem;
        }
      }
    }
  }

  /*  ----------------------------------------------------- end news -------------------------------------------------------   */

}