dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

.row {
  padding-right: 0;
  padding-left: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.btn{
  padding: 0;
}

p{
  margin-bottom: 0;
}